<!-- <div class="row"> -->
<!-- <div class="col-md-9 right-panel"> -->
<!-- <div class="col-sm-12 col-md-12"> -->
<!-- <app-linear-progress></app-linear-progress> -->
<!-- </div> -->
<!-- <div class="col-sm-12 col-md-12"> -->
<!-- <app-radial-progress></app-radial-progress> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="col-md-3"> -->
<!-- <app-accordion-flightreport></app-accordion-flightreport> -->
<!-- </div> -->
<!-- </div> -->
<div class="row">
  <div class="col-md-9 ">
    <app-test></app-test>
  </div>
</div>